<link rel="stylesheet" href="{{ url_for('static', filename='video_format.css') }}"/>
<style>
  div.main{
    max-width: 600px;
    margin: 20px auto;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 5px 30px 20px 30px;
  }
  div.error{
    color: red;
  }
</style>
<div class="main">
  <div>
    <h1>Task Description</h1>
    <h2>Tufts University - Task Description and Controls</h2>
      <h3>Virtual Agents learning from human interaction</h3>
    <p>
Below is a description of the task you will be asked to complete for this study:
</p>
<p>
<h4>What is the task?</h4>
On the next page you will be asked to balance a pendulum. In this control problem,
the pendulum is able to move either toward or away from the balanced “center” where the
rod of the pendulum is perpendicular to the ground. The longer the pendulum is balanced, the higher score it recieves. 
If the pendulum falls or has balanced for 60 seconds, it will reset to its start position and try again. 
Your task is to balance the pendulum (prevent the pendulum from falling) 
by providing either “good,” “bad,” or “none” feedback using the buttons on the bottom of the screen. 
 “Good” feedback should be provided when the pendulum moves closer to the horizontal
center or is balanced. “Bad” feedback should be provided when the pendulum moves
 further from the horizontal center and closer to falling on its side. “None” feedback should be provided
 when you do not wish to provide "good" nor "bad" feedback.
 </p>


                  <div class="Shared-Video" style="padding-bottom:100.0%">
                            <div class="Shared-Video-container Shared-Video-container--shadow-large">
                              <div class="Shared-Video-caption" style="display: block;">Lunar Lander Demo</div>
                              <div class="Shared-Video-player">
                  <video id="Shared-Video" loop="loop"controls autoplay ><source src={{ url_for('static', filename="pendulum_demo.mp4") }} type="video/mp4"></video>

                              </div>
                            </div>

                       </div>
    <p>
<h4>What are the teaching controls?</h4>
You will be able to teach the program to complete the task using a “good,” “bad,” and “none” toggle buttons. When the toggle is set to “good” the program will receive continuous positive feedback that makes it 
more likely to repeat its current action.
The program will only stop receiving positive feedback once the “bad” or "none" toggle is selected.
When the toggle is set to “bad” the program will receive continuous
 negative feedback that makes it less likely to repeat its current action.
  The program will only stop receiving negative feedback once the
  “good” or “none” toggle is selected. If the “none” toggle is selected
   the program will receive no feedback from the user on its actions until the “good” or “bad” toggle is selected.
    </p>
    <p>

<h4>Duration</h4>
The interaction will last for approximately 15 minutes.
 After 15 minutes the external window will close and you will be prompted to complete the study.
    </p>

<form action="/info" method="post">
  <input type="checkbox" id="info" name="info" value="info">
  <label for="info">I have read the above and will act in good faith to complete the objectives described above.</label><br><br>
  <input type="submit" value="Submit"></input>
</form>
<!-- {%if missing_data%}
<div class="error">
  Please confirm your consent and sign before submitting.
</div>
{% endif %} -->


<!-- Required content -->
<br>
The Tufts computer science department is committed to making its digital environment accessible to all users, and welcomes comments or suggestions on access improvements.  Please send comments or suggestions on accessibility to the aabl_participants@cs.tufts.edu.
<br>
<a href="https://oeo.tufts.edu/policies-procedures/non-discrimination-statement/">Tufts non-discrimination statement</a><br>
<a href="https://www.tufts.edu/about/privacy">Tufts privacy and terms of use statements</a>



</div>
