<style>
    div.main{
      max-width: 600px;
      margin: 20px auto;
      border-radius: 25px;
      border: 2px solid #73AD21;
      padding: 5px 30px 20px 30px;
    }
    div.error{
      color: red;
    }
  </style>
  <div class="main">
    <div>
      <h1>Our apologies</h1>
      <p>
        The server is currently busy. Please try again at another time if you would like to participate in the study. Thank you for your patience.
    </p>
  <!-- {%if missing_data%}
  <div class="error">
    Please confirm your consent and sign before submitting.
  </div>
  {% endif %} -->
  
  
  <!-- Required content -->
  <br>
  The Tufts computer science department is committed to making its digital environment accessible to all users, and welcomes comments or suggestions on access improvements.  Please send comments or suggestions on accessibility to the aabl_participants@cs.tufts.edu.
  <br>
  <a href="https://oeo.tufts.edu/policies-procedures/non-discrimination-statement/">Tufts non-discrimination statement</a><br>
  <a href="https://www.tufts.edu/about/privacy">Tufts privacy and terms of use statements</a>
  
  
  
  </div>